
<div class="container-fluid pt-3">
    <div class="row removable">
      <div class="col-lg-12">
        <h1 class=""><%= data[0].case_name %></h1>
      </div>
    </div>
    <div class="row removable">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header border-0 pb-0">
            <h4 class="mb-0">Details</h4>
            <div class="card">
             
              <div class="card-body text-left">
                <div class="accordion p-0" id="accordionExample">
                  <div class="card shadow-none mb-0">
                    <div
                      class="card-header px-0"
                      id="headingOne"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      <h5 class="mb-0">Case Description</h5>
                    </div>
                    <div
                      id="collapseOne"
                      class="collapse show"
                      aria-labelledby="headingOne"
                      data-parent="#accordionExample"
                      style=""
                    >
                      <div class="card-body px-0">
                        <p>
                          <%= data.notes %>
                        </p>
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal5"><i class="fa fa-edit"></i
                          ></button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body pt-0 pb-2 px-0">
                    <div
                      class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2"
                    >
                      <div class="d-flex align-items-center">
                        <i class="fa text-primary text-lg fa-cogs"></i>
                        <div class="ml-3">
                          <h5 class="mb-0">Law Firm</h5>
                          <p class="text-sm mb-0"><%= data[0].law_firm %></p>
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1"
                        ><i class="fa fa-edit"></i
                      ></button>
                    </div>
                    <div
                      class="border-bottom d-flex align-items-center justify-content-between px-4 py-2"
                    >
                      <div class="d-flex align-items-center">
                        <i class="fa text-primary fa-clock"></i>
                        <div class="ml-3">
                          <h5 class="mb-0">Start Date</h5>
                          <p class="text-sm mb-0"><%= moment(data[0].start_date).format('Do MMMM, YYYY') %></p>
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3"
                        ><i class="fa fa-edit"></i
                      ></a>
                    </div>
                    <div
                      class="border-bottom d-flex align-items-center justify-content-between px-4 py-2"
                    >
                      <div class="d-flex align-items-center">
                        <i class="fa text-primary text-lg fa-user"></i>
                        <div class="ml-3">
                          <h5 class="mb-0">Case Administrator</h5>
                          <p class="text-sm mb-0">
                            Morton Mabumbo
                          </p>
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                        ><i class="fa fa-edit"></i
                      ></button>
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-between px-4 py-2"
                    >
                      <div class="d-flex align-items-center">
                        <i class="fa fa-star text-primary text-lg"></i>
                        <div class="ml-3">
                          <h5 class="mb-0">Status</h5>
                          <p class="text-sm mb-0">In Progress</p>
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2"
                        ><i class="fa fa-edit"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card draggable" draggable="true">
          <div>
          <button type="button" class="btn btn-primary draggable" data-toggle="modal" data-target="#exampleModal" draggable="true">
            Add Case Update
        </button>
      </div>
      <br></br>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Case Update</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                      <div class="card">
                                        
                          <div class="form-group">
                            <label for="case-update-title">Title</label>
                            <input type="text" class="form-control" id="case-update-title" placeholder="Enter title">
                          </div>
                          <div class="form-group">
                            <label for="case-update-description">Description</label>
                            <textarea class="form-control" id="case-update-description" rows="3" placeholder="Enter description"></textarea>
                          </div>
                          <div class="form-group">
                            <label for="case-update-date">Date</label>
                            <input type="date" class="form-control" id="case-update-date">
                          </div>
                          <div class="mb-3">
                            <label for="formFile" class="form-label">File upload</label>
                            <input class="form-control" type="file" id="formFile">
                          </div>
                          
                        
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
          </div>
          <div class="card-body pt-0 pb-2 px-0">
              <div class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2">
                  <div class="d-flex align-items-center">
                      <i class="fa fa-file text-primary text-lg"></i>
                      <div class="ml-3">
                          <h5 class="mb-0"> Urgent Application </h5>
                          <p class="text-sm mb-0"> An urgent application was filled </p>
                          <p class="text-sm mb-0">01/01/2023</p>
                      </div>
                  </div>
                  <a href="javascript:;"><i class="fa fa-chevron-right text-light"></i></a>
              </div>
              <div class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2">
                <div class="d-flex align-items-center">
                    <i class="fa fa-file text-primary text-lg"></i>
                    <div class="ml-3">
                        <h5 class="mb-0">Court Documents Updated </h5>
                        <p class="text-sm mb-0"> Court documents were updated and submited </p>
                        <p class="text-sm mb-0">05/01/2023</p>
                    </div>
                </div>
                <a href="javascript:;"><i class="fa fa-chevron-right text-light"></i></a>
            </div>
            <div class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2">
              <div class="d-flex align-items-center">
                  <i class="fa fa-file text-primary text-lg"></i>
                  <div class="ml-3">
                      <h5 class="mb-0">Hearing </h5>
                      <p class="text-sm mb-0"> Hearing was conducted </p>
                      <p class="text-sm mb-0">20/05/2023</p>
                  </div>
              </div>
              <a href="javascript:;"><i class="fa fa-chevron-right text-light"></i></a>
          </div>
          <div class="border-bottom border-top d-flex align-items-center justify-content-between px-4 py-2">
            <div class="d-flex align-items-center">
                <i class="fa fa-file text-primary text-lg"></i>
                <div class="ml-3">
                  <p class="text-sm mb-0"> 21/05/2023</p>
                    <h5 class="mb-0">Judgement and Case Closure</h5>
                    <p class="text-sm mb-0"> Judgement passed and cased closed</p>
                                  </div>
            </div>
            <a href="javascript:;"><i class="fa fa-chevron-right text-light"></i></a>
        </div>
          </div>
      </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">PDF Preview</h5>
          </div>
          <div class="card-body">
            <div class="embed-responsive embed-responsive-16by9">
              <embed
              id="embed-pdf"
                class="embed-responsive-item"
                type="application/pdf"
              />
            </div>
          </div>
        </div>
        <div class="row removable">
          <div class="col-lg-12"></div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Attachements</h5>
            <form action="upload-case" method="post" enctype="multipart/form-data">
            <input id='files' name="avatar" class="btn btn-primary" type="file" >
            <input class="btn btn-primary" type="submit">
          </form>
          </div>
                    <ul class="list-group list-group-flush">
                      <% for (let dat of files) { %>
            <li class="list-group-item">
              <div class="row align-items-center">
                
                <div class="col-md-3">
                  <button type="button" class="btn btn-primary" onclick="changeSrc('<%= dat %>')"
                  ><i class="fa fa-eye"></i
                ></button>
              </div>
              
                <div class="col-md-9">
                  <h6 class="card-subtitle mb-2 text-muted">File Name</h6>
                  <p class="card-text"><%= dat %></p>
                </div>
              
              </div>
            </li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action='update-lawfirm?id=<%= id %>' method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Law Firm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="col-md-12">
                <label for="law-firm" class="form-label">Law Firm</label>
                <select class="form-select" id="law_firm" name="law_firm" required="">
                  <option value="">Select a Law Firm</option>
                  <%  for (let dat of dataA) { %>
                  <option value="<%= dat.name %>"><%= dat.name %></option>
                  <% } %>
              </select>
            </div>              
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form> 
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <form action='update-case-status?id=<%= id %>' method="POST">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Status</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
          </div>
          <div class="modal-body">
               
            <div class="col-md-12">
              <label for="status" class="form-label">Status</label>
              <select class="form-select" id="status" name="status" required="">
                <% for (let dat of case_status) { %>                   
                  <option value="<%= dat.case_status_name %>"><%= dat.case_status_name %></option>
                  <% } %>
              </select>
          </div>            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form> 
      </div>
</div>
</div>
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <form action='update-case-startdate?id=<%= id %>' method="POST">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Start Date</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
          </div>
          <div class="modal-body">
               



<div class="col-md-12">
  <label for="start-date" class="form-label">Start Date</label>
  <input type="date" class="form-control" id="start_date" name="start_date" required="">
</div>
                     
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form> 
      </div>
</div>
</div>
<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <form action='update-case-description?id=<%= id %>' method="POST">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Description</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
          </div>
          <div class="modal-body">
               



<div class="col-md-12">
  <label for="description" class="form-label">Description</label>
  <input type="text" class="form-control" id="description" name="description" required="">
</div>
                     
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </form> 
      </div>
</div>
</div>