<div class="container-fluid pt-3">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    style="display: none"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row removable">
    <div class="card-group w-100">
      <div class="card border shadow-none">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                Total cases
              </h5>
              <span class="h2 font-weight-bold mb-0"><%= cases_length %></span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-gradient-red text-white rounded-circle shadow"
              >
                <i class="fa fa-user"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card border shadow-none border-left-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                total contracts
              </h5>
              <span class="h2 font-weight-bold mb-0"><%= contracts_length %></span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow"
              >
                <i class="fa fa-handshake"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card border shadow-none border-left-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">
                contracts nearing expiry&nbsp;
              </h5>
              <span class="h2 font-weight-bold mb-0"><%= contract_expiring_length %></span>
            </div>
            <div class="col-auto">
              <div
                class="icon icon-shape bg-gradient-success text-white rounded-circle shadow"
              >
                <i class="fa fa-project-diagram"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br></br>
  <div class="row removable">
    <div class="col-lg-12"></div>
  </div>
  <div class="row removable">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Contracts expiring soon...</h3>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <% if (expiring_contracts.length > 0) { %>
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">contract name</th>
                <th scope="col">vendor</th>
                <th scope="col">contract value</th>
                <th scope="col">Expiry Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for (let dat of expiring_contracts) { %>
              <tr>
                <td><%= dat.name %></td>
                <td><%= dat.vendor %></td>
                <td><%= dollarUS.format(dat.contract_value) %></td>
                <td><%= moment(dat.end_date).format('Do MMMM, YYYY') %></td>
                <td class="table-actions">
                  <a href='/contract_view?id=<%= dat.contract_id %>' class="table-action btn btn-sm btn-block btn-neutral"  >
                      <i class="fas fa-eye"></i>
                  </a>
              </td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <% } else { %>
            <div style="padding: auto;margin:auto;position: relative;left:40%"><p>No tasks to show!</p></div>
            
          <% } %>  
        </div>
      </div>
    </div>
  </div>
  <div class="row removable">
    <div class="col-xl-12">
      <div class=""></div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Calendar</h5>
         
        <div class="card-body" >
          <div class="calendar" style="padding: auto;margin: auto;">
            <!-- Calendar Header -->
            <div class="calendar-header">
              <span class="month-picker" id="month-picker">
                February
              </span>
              <div class="year-picker">
                <span class="year-change mt-3" id="prev-year">
                  <pre> < </pre>
                </span>
                <span id="year">2023</span>
                <span class="year-change mt-3" id="next-year">
                  <pre> > </pre>
                </span>
              </div>
            </div>
            <!-- Calendar Body -->
            <div class="calendar-body">
              <div class="calendar-week-day">
                <div>Sun</div>
                <div>Mon</div>
                <div>Tue</div>
                <div>Wed</div>
                <div>Thu</div>
                <div>Fri</div>
                <div>Sat</div>
              </div>
              <div class="calendar-day">
                <div>
                  1
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
              </div>
            </div>
            <!-- Calendar Footer -->
            <div class="calendar-footer">
                <div class="toggle">
                    <span>Dark Mode</span>
                    <div class="dark-mode-switch">
                        <div class="dark-mode-switch-ident"></div>
                    </div>
                </div>
            </div>
            <div class="month-list"></div>
          </div>
          <link rel="stylesheet" href="/css/stylea.css" />
          <script src="/js/scripta.js"></script>
      </div>
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">My Tasks</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <% if (tasks.length > 0) { %>
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">Name</font>
                  </font>
                </th>
                <th scope="col">
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">Status</font>
                  </font>
                </th>
                <th scope="col">
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">Completed?</font>
                  </font>
                </th>
                <th scope="col">
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">Start Date</font>
                  </font>
                </th>
                <th scope="col">
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">Due Date</font>
                  </font>
                </th>
                <th scope="col">
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">Assigned To</font>
                  </font>
                </th>
                <th scope="col">
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">Priority</font>
                  </font>
                </th>
                <th scope="col">
                 
                </th>
              </tr>
            </thead>
            <tbody id="resultsContainer">
             
                <% for (let dat of tasks) { %>
              <tr class="car">
                <td scope="row">
                  <div class="d-flex align-items-center">
                    
                    <span>
                      <p class="car-title"><%= dat.name %></p>
                    </span>
                  </div>
                  </td>
                  <td>
                  <span class="badge badge-pill badge-success">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit"><%= dat.status %></font>
                    </font>
                  </span>
                   </td>
                   <td>
                      <span>
                      <label class="custom-toggle">
                       <input id="check_status" type="checkbox" onclick="isCheckedJQuery('<%= dat.task_id %>','COMPLETED')" name="<%= dat.id %>" value="<%= dat.task_id %>">
                        <span class="custom-toggle-slider rounded-circle" data-label-off="No" data-label-on="Yes"></span>
                </label>
                     </span>
                   </td>
                   <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2 car-title" ><%=  moment(dat.start_date).format('Do MMMM, YYYY') %></span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2 car-title" ><%= moment(dat.due_date).format('Do MMMM, YYYY')  %></span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2 car-title" ><%= dat.assigned_to %></span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="ml-2 car-title" ><%= dat.priority %></span>
                    </div>
                  </td>
                  <td class="table-actions">
                    <button class="table-action btn btn-sm btn-block btn-neutral expandBtn"  onclick="delete_task('<%= dat.task_id %>','<%= dat.name %>')" data-toggle="modal" data-target="#exampleModal3" data-original-title="Edit product">
                      <i class="fas fa-trash"></i>
                  </button>
               
                  <button class="table-action btn btn-sm btn-block btn-neutral"  onclick="edit_task('<%= dat.task_id %>','<%= dat.name %>','<%= dat.start_date %>','<%= dat.due_date %>','<%= dat.priority %>','<%= dat.frequency %>','<%= dat.assigned_to %>','<%= dat.description %>','<%= dat.status %>')" data-toggle="modal" data-target="#exampleModal2" data-original-title="Edit product">
                      <i class="fas fa-edit"></i>
                  </button>
              </td>
                </td>
                 
              </tr>
              <% } %>
            

            </tbody>
          </table>
          <% } else { %>
            <div style="padding: auto;margin:auto;position: relative;left:40%"><p>No tasks to show!</p></div>
            
          <% } %>  
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal2" style="z-index:45" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
          </div>
          <div class="modal-body">
          
          
      </div>
</div>
</div>
</div>
<div class="modal fade" id="exampleModal3" style="z-index:45" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Task</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">X</span>
              </button>
          </div>
          <div class="modal-body">
          
      </div>
</div>
</div>
</div>